In [1]:
import pandas as pd

In [6]:
csv_file = "vaccination_ratio.csv"
vaccine_df = pd.read_csv(csv_file)
vaccine_df.head()

   fips state  level  population  vac_ratio
0     1    AL  state     4903185      0.372
1     2    AK  state      731545      0.475
2     4    AZ  state     7278717      0.480
3     5    AR  state     3017804      0.408
4     6    CA  state    39512223      0.594

In [8]:
csv_file = "cleaneddatasetnew.csv"
votes_df = pd.read_csv(csv_file)
votes_df.head()

,Unnamed: 0,state,dem_votes,rep_votes,dem_percent,rep_percent,stateid,Latitude,Longitude
0,20,Alabama,"849,624","1,441,170",36.60%,62.00%,AL,32.7794,-86.8287
1,21,Alaska,"153,778","189,951",42.80%,52.80%,AK,64.0685,-152.2782
2,4,Arizona,"1,672,143","1,661,686",49.40%,49.10%,AZ,34.2744,-111.6602
3,22,Arkansas,"423,932","760,647",34.80%,62.40%,AR,34.8938,-92.4426
4,23,California,"11,110,250","6,006,429",63.50%,34.30%,CA,37.1841,-119.4696

In [26]:
votes_df = df.rename(columns={"state": "state_name", "stateid": "state"})
votes_df.head()

,Unnamed: 0,state_name,dem_votes,rep_votes,dem_percent,rep_percent,state,Latitude,Longitude
0,20,Alabama,"849,624","1,441,170",36.60%,62.00%,AL,32.7794,-86.8287
1,21,Alaska,"153,778","189,951",42.80%,52.80%,AK,64.0685,-152.2782
2,4,Arizona,"1,672,143","1,661,686",49.40%,49.10%,AZ,34.2744,-111.6602
3,22,Arkansas,"423,932","760,647",34.80%,62.40%,AR,34.8938,-92.4426
4,23,California,"11,110,250","6,006,429",63.50%,34.30%,CA,37.1841,-119.4696

In [28]:
vaxx_and_votes_df = vaccine_df.merge(votes_df, how='inner', on='state')
vaxx_and_votes_df.head()

,fips,state,level,population,vac_ratio,Unnamed: 0,state_name,dem_votes,rep_votes,dem_percent,rep_percent,Latitude,Longitude
0,1,AL,state,4903185,0.372,20,Alabama,"849,624","1,441,170",36.60%,62.00%,32.7794,-86.8287
1,2,AK,state,731545,0.475,21,Alaska,"153,778","189,951",42.80%,52.80%,64.0685,-152.2782
2,4,AZ,state,7278717,0.480,4,Arizona,"1,672,143","1,661,686",49.40%,49.10%,34.2744,-111.6602
3,5,AR,state,3017804,0.408,22,Arkansas,"423,932","760,647",34.80%,62.40%,34.8938,-92.4426
4,6,CA,state,39512223,0.594,23,California,"11,110,250","6,006,429",63.50%,34.30%,37.1841,-119.4696

In [29]:
vaxx_and_votes_df.to_csv('vaxx_votes_pop.csv')